# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\timot\Documents\COURS\MMI2\S4\DEV_WEB_PIRANDHA\3DSMAX\PerfectRoom\perfect-room-threejs\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
